[submodule "lectures/restaurants-1508"]
	path = lectures/restaurants-1508
	url = git@github.com:trouni/restaurants-1508.git
[submodule "lectures/rails-geocoding"]
	path = lectures/rails-geocoding
	url = git@github.com:trouni/geocoding-demo-1508
[submodule "lectures/rails-authentication"]
	path = lectures/rails-authentication
	url = git@github.com:trouni/devise-demo-1508
[submodule "lectures/rails-search"]
	path = lectures/rails-search
	url = git@github.com:trouni/imdb-search-1508
[submodule "lectures/rails-authorization"]
	path = lectures/rails-authorization
	url = git@github.com:trouni/pundit-demo-1508
